
<%= link_to "Create a market", new_market_path%>
<%= link_to "Create a vendor", new_vendor_path%>


<h2>All markets:</h2>
<%@markets.each do |market| %>
  <div class = "market">
    <%= link_to market.name, market_path(market.id) %>
    <%= market.city%>, <%= market.state%>
    <%= link_to "Edit", edit_market_path(market.id)%>
  </div>
<%end%>



<h2>All vendors:</h2>
<%@vendors.each do |vendor| %>
  <div class = "vendor">
    <%= vendor.name %>
    <%= Market.find(vendor.market_id) %>
    <%= link_to "Edit", edit_vendor_path(vendor.id)%>
    <%= link_to "Delete", destroy_vendor_path(vendor.id)%>
  </div>
<%end%>
